@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.root{
    -fx-background-color: black;
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-padding: -5 0 -5 0;
}

.button{
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 0;
}

#btnCross{
    -fx-background-color: #E43326;
}

#btnCross:hover{
    -fx-background-color: #de5f56; 
}

#btnBlue{
    -fx-background-color: #0624B6;
}

#btnGreen{
    -fx-background-color: #09B519;
}

#btnPurple{
    -fx-background-color: #9900FF;
}

#btnOrange{
    -fx-background-color: #EB571A;
}

/*ALL ICONS ARE FROM: https://icons8.com/ */
#btnEraser{
    -fx-background-color:white; 
    -fx-graphic: url(../images/icons8-eraser-50.png);
}

#btnTrash{
    -fx-background-color:white; 
    -fx-graphic: url(../images/icons8-trash-64.png);
}

#btnReady{
    -fx-background-color: #70E325;
    -fx-background-radius: 5;
}

#btnReady:hover{
    -fx-background-color: #89d557;
}

#btnSave{
    -fx-background-color: #FF02FF;
    -fx-background-radius: 5;
}

#btnSave:hover{
    -fx-background-color: #f862f8;
}

.label{
    -fx-font-size: 30px;
    -fx-text-fill:black;
}

#lblWord{
    -fx-text-fill: #4185F4;
}

#lblTime{
    -fx-text-fill: #E43326;
}

#lblGuesses{
    -fx-font-size: 20px;
}

#lblResults{
    -fx-font-size: 35px; 
}

#rightVBox{
    -fx-background-color: white; 
}

#middleHBox{
    -fx-background-color: white; 
}