@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.root{
    -fx-background-color: black;
    -fx-font-family: 'Press Start 2P', cursive;
}

.button {
    -fx-background-color: rgb(24, 189, 189);
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-border-color: #493BF2;
    -fx-border-width:2;
}

.label{
    -fx-text-fill: rgb(24, 189, 189); 
    -fx-font-size: 25px;
}

#lblWarning{
    -fx-font-size: 10px;
    -fx-text-fill: #E43326;
}

.text-field{
    -fx-background-color: black;
    -fx-prompt-text-fill: rgb(24, 189, 189); 
    -fx-text-fill: rgb(24, 189, 189); 
    -fx-border-color:rgb(24, 189, 189);
}

.button:hover{
    -fx-background-color:rgb(26, 146, 146);
}

#btnSave{
    -fx-background-color: #70E325; 
    -fx-border-color: green; 
    
}

#btnSave:hover{
    -fx-background-color: #89d557; 
}
